* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

h1,
h2,
h3,
table,
ul {
    height: 100%;
    width: 100%;
}

html {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

body {
    width: 30vh;
    height: 30vh;
    transform-style: preserve-3d;
    position: relative;
    transform-style: preserve-3d;
    animation: cubeRotation 5s infinite, pulse 3s infinite;
}

body>h1,
h2,
h3,
table,
ul,
figure {
    position: absolute;
	height: 100%;
	width: 100%;
    float: left;
    overflow: hidden;
	font-size: 1em;
    opacity: 0.7;
}

h3 {
    transform: rotatex(90deg) translate3d(0px, 0px, 15vh);
    background-color: #FFF;
}


h2 {
    transform: rotateY(-90deg) translate3d(0px, 0px, 15vh);
    background-color: #ffaf1c;
}

h1 {
    transform: translate3d(0px, 0px,15vh);
    background-color: #58d568;
	display: grid;
}

h1:after {
	content: "Secretmud is really cool!";
	color: black;
}

table {
    transform: rotateY(90deg) translate3d(0px, 0px, 15vh);
    background-color: #ed3030;
}

ul {
    transform: rotateY(180deg) translate3d(0px, 0px, 15vh);
    background-color: #1c5ffe;
}

figure {
	color: black;
    transform: rotateX(-90deg) translate3d(0px, 0px, 15vh);
    background-color: #f2f215;
}

@keyframes cubeRotation {
    0% {
        transform: rotate3d(1, 0, 0.75, 0.25turn) translate3d(25vw, 15vh, 15vh);

    }
	25% {
		transform: rotate3d(0, 0.75, 1, 0.76turn) translate3d(-10vw, 30vh, 25vh);

	}
	50% {
		transform: rotate3d(0, 1, 0.5, 0.65turn) translate3d(10vw, -25vw, 5vh);

	}
	75% {
		transform: rotate3d(0.25, 1, 0.25, 0.76turn) translate3d(-10vw, 30vh, 25vh);

	}
	100% {
		transform: rotate3d(1, 0, 0.75, 0.25turn) translate3d(25vw, 15vh, 15vh);
	}
}

@keyframes pulse {
	0% {
		width: 30vh;
		height: 30vh;
	}
	50% {
		width: 60vh;
		height: 60vh;
	}
	100% {
		width: 30vh;
		height: 30vh;
	}
}
